<!-- Purple Btn -->
    <button class="btn btn_purple">Button</button>
    <!-- Grey Btn -->
    <button class="btn btn_grey">Button</button>
    <!-- Black Btn -->
    <button class="btn btn_black">Button</button>
    <!-- White Btn -->
    <button class="btn btn_white">Button</button>
    <!-- Transparent Btn -->
    <button class="btn btn_transprent">
        Learn More
        <span class="arrow">
            <img src="./images/btn-purple.svg" alt="arrow-right">
        </span>
    </button>