<!-- ============================================
Callout ~ Section 
============================================ -->
    <article class="responsive_content callout_section">
        <div class="responsive_container callout_container">
        <div class="callout">
            <h1>Ready to get started?</h1>
            <p>
                We build the best financial infrastructure and provide the best technology to keep our services 99% uptime. Create an account now!
            </p>
            <span class="callout_btns flx">
                <button class="btn btn_white">Get Started</button>
                <button class="btn btn_transprent btn_transprent_white">Contact Support</button>
            </span>
        </div>
        </div>
    </article>