<!-- ============================================
Hero ~ Section 
============================================ -->
    <article class="responsive_content hero_section">
        <div class="flx responsive_container hero_container">
            <div class="hero_txts">
                <h1 id="hero_hd1">
                    <span class="purple_txt">Financial Services</span> <br>at your <span class="yellow_txt">Doorsteps.</span>
                </h1>
                <p>Inemoni gives you free and eass access to financial services. Our watchword while creating an avenue for our agents to make money using our amazing services.</p>
                <span class="flx">
                    <button class="btn btn_purple">Download App</button>
                    <button class="btn btn_grey">Sign In</button>
                </span>
            </div>
            <div class="hero_img">
                <img loading="lazy" src="./images/hero-img-male.svg" alt="">
            </div>
        </div>
    </article>