<!-- Card_hover -->
    <div class="nav_hover">
        <div class="hover_container">
            <div class="grd content_hover">
                <!-- Row ~ 1 -->
                <span>
                    <h4>Cash Withdrawal</h4>
                    <p>
                        Withdraw cash at our agents outlet closest to you.
                    </p>
                </span>
                <!-- Row ~ 2 -->
                <span>
                    <h4>Savings</h4>
                    <p>
                        Everyone can save without restriction, with fast withdrawal.
                    </p>
                </span>
                <!-- Row ~ 3 -->
                <span>
                    <h4>Money Transfer</h4>
                    <p>
                        Your transfer goes through seamlessly with Inemoni.
                    </p>
                </span>
                <!-- Row ~ 4 -->
                <span>
                    <h4>Pay Bills</h4>
                    <p>
                        Payment of bills is easily accessible to everyone.
                    </p>
                </span>
            </div>
            <!-- Footer ~ Blog Post -->
            <footer class="footer_hover">
                <div class="container_footer">
                    <h4>Latest blog post</h4>
                    <div class="footer_card">
                        <h4>We went live</h4>
                        <p>
                            Here’s an overview of how we made magic happen
                        </p>
                        <button class="btn btn_transprent">
                            Learn More
                            <span class="arrow">
                                <img src="./images/btn-purple.svg" alt="arrow-right">
                            </span>
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>