<!-- ============================================
Payment Options ~ Section 
============================================ -->
<article class="responsive_content payments">
    <div class="responsive_container grd payments_container">
        <!-- Bill Payments -->
        <div class="bill_payment">
            <h4>Bills Payment</h4>
            <p>
                Life could be hard but making payments shouldn't. Pay for Power supply, Internet bundles or Cable TV subscriptions at your comfort zone. With Inemoni, we make payment of bills easily accessible to everyone through our agents.
            </p>
            <button class="btn btn_black">Download App</button>
        </div>
        <!-- Row 3 ~ Mobile phone Image -->
        <div class="img_gadget">
            <img loading="lazy" src="./images/Samsung-Galaxy-S22-1.svg" alt="Mobile phone">
        </div>
        <!-- payment options -->
        <div class="payment_opts">
            <div>
                <h4>Accept Payments</h4>
                <p>
                    Easily receive money from anyone, anytime and anywhere in the world.
                </p>
                <button class="btn_transprent">
                    Learn More
                    <span class="arrow">
                        <img src="./images/btn-purple.svg" alt="arrow-right">
                    </span>
                </button>
            </div>
            <div>
                <h4>Accept Payments</h4>
                <p>
                    Easily receive money from anyone, anytime and anywhere in the world.
                </p>
                <button class="btn_transprent">
                    Learn More
                    <span class="arrow">
                        <img src="./images/btn-purple.svg" alt="arrow-right">
                    </span>
                </button>
            </div>
        </div>
    </div>