<!-- ============================================
Sposors ~ Section 
============================================ -->
    <article class="responsive_contentnav_bar sponsors">
        <div class="responsive_container flx sponsors_container">
            <!-- Reviews -->
            <div class="slider_reviews flx">
                <!-- Review ~ 1 -->
                <div class="rating_reviews">
                    <span class="card_reviews card_reviews1">
                        I highly recommend this app, nice customer service and a great product also.
                        <h5>Dominic Praise</h5>
                    </span>
                    <span class="card_reviews card_reviews2">
                        <img loading="lazy" src="./images/star-rating.svg" alt="">
                        <h4>1,000+ 5 Star Reviews</h4>
                        On the Apple App and Google Play Stores
                    </span>
                </div>
                <!-- Review ~ 2 -->
                <div class="rating_reviews">
                    <span class="card_reviews card_reviews1">
                        I so well recommend this app, nice customer service and a great product also.
                        <h5>John Doe</h5>
                    </span>
                    <span class="card_reviews card_reviews2">
                        <img loading="lazy" src="./images/star-rating.svg" alt="">
                        <h4>3,000+ 5 Star Reviews</h4>
                        On the Apple App and Google Play Stores
                    </span>
                </div>
                <!-- Review ~ 3 -->
                <div class="rating_reviews">
                    <span class="card_reviews card_reviews1">
                        Great app! Nice customer service and a great product also. Lovely app integration overall
                        <h5>Samuel Etim</h5>
                    </span>
                    <span class="card_reviews card_reviews2">
                        <img loading="lazy" src="./images/star-rating.svg" alt="">
                        <h4>2,000+ 5 Star Reviews</h4>
                        On the Apple App and Google Play Stores
                    </span>
                </div>
                <!-- Review ~ 4 -->
                <div class="rating_reviews">
                    <span class="card_reviews card_reviews1">
                        Great experience overall! Lovely customer service feedbacks and a great product also.
                        <h5>Williams Uchemba</h5>
                    </span>
                    <span class="card_reviews card_reviews2">
                        <img loading="lazy" src="./images/star-rating.svg" alt="">
                        <h4>5,000+ 5 Star Reviews</h4>
                        On the Apple App and Google Play Stores
                    </span>
                </div>
            </div>

            <div class="companies_container">
                <!-- Company 1 -->
                <div class="company company1">
                    <img loading="lazy" src="./images/verifyMe.svg" alt="VerifyMe company Logo">
                </div>
                <!-- Company 2 -->
                <div class="company company2">
                    <img loading="lazy" src="./images/paystack.svg" alt="Paystack company Logo">
                </div>
                <!-- Company 3 -->
                <div class="company company3">
                    <img loading="lazy" src="./images/xpress.svg" alt="Xpress company Logo">
                </div>
                <!-- Company 4 -->
                <div class="company company4">
                    <img loading="lazy" src="./images/itex.svg" alt="Itex company Logo">
                </div>
                <!-- Company 5 -->
                <div class="company company5">
                    <img loading="lazy" src="./images/providus-bank.svg" alt="Providus Bank company Logo">
                </div>
                <!-- Company 6 -->
                <div class="company company6">
                    <img loading="lazy" src="./images/flutterwave.svg" alt="Flutterwave company Logo">
                </div>
            </div>
        </div>
    </article>