<!-- ============================================
Track Expense ~ Section 
============================================ -->
    <article class="responsive_content trackExpense">
        <div class="responsive_container flx trackExpense_container">
            <div class="text_trackExpense">
                <h1>
                    Track expenses and <br> manage funds with ease.
                </h1>
                <p>
                    Track all orders, invoices, loans, savings, transactions and even monitor your business on one screen. Get detailed reports for audits and accounting.
                </p>
                <button class="btn btn_black">Get Started</button>
            </div>
            <div class="img_bg">
                <div class="bg_purplePink"></div>
            </div>
        </div>
    </article>