<!-- ============================================
Push Notifications ~ Section 
============================================ -->
    <article class="responsive_content transaction_alerts">
        <div class="responsive_container flx alerts_container">
            <div class="notification_container">
            <!-- Notification ~ Card 1 -->
            <div class="flx notification_card">
                    <!-- Row ~ 1 -->
                    <span class="flx logo_bankName">
                        <span class="bank_logo">
                            <img src="./images/gtbank.svg" alt="Gtbank Logo">
                        </span>
                        <!-- Row ~ 2 -->
                        <span>
                            <h4>
                                Money Transfer
                            </h4>
                            ₦300,000 has been transfered to Dominic
                        </span>
                    </span>
                    <!-- Row ~ 3 -->
                    <span class="tag debit_tag">
                        -1,2000.00
                    </span>
                </div>
                <!-- Notification ~ Card 2 -->
            <div class="flx notification_card">
                    <!-- Row ~ 1 -->
                    <span class="flx logo_bankName">
                        <span class="bank_logo">
                            <img src="./images/imonibank.svg" alt="Inemoni Logo">
                        </span>
                        <!-- Row ~ 2 -->
                        <span>
                            <h4>
                                Money Transfer
                            </h4>
                            ₦300,000 has been transfered to Dominic
                        </span>
                    </span>
                    <!-- Row ~ 3 -->
                    <span class="tag credit_tag">
                        +90,000.00
                    </span>
                </div>
                <!-- Notification ~ Card 3 -->
            <div class="flx notification_card">
                    <!-- Row ~ 1 -->
                    <span class="flx logo_bankName">
                        <span class="bank_logo">
                            <img src="./images/spotify.svg" alt="Spotify Logo">
                        </span>
                        <!-- Row ~ 2 -->
                        <span>
                            <h4>
                                Spotify
                            </h4>
                            Premium user subscription
                        </span>
                    </span>
                    <!-- Row ~ 3 -->
                    <span class="tag debit_tag">
                        -1,2000.00
                    </span>
                </div>
        </div>

        <div class="text_notification">
                <h1>Stay in control with our push notifications.</h1>
                <p>
                    With Inemoni’s push notications, you’re always in-the-know with daily balance notifications and transaction alerts.
                </p>
                <button class="btn btn_black">Create Account</button>
            </div>
        </div>
    </article>
